<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-cache,no-store, must-revalidate" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta http-equiv="content-language" content="zh-CN" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

<link rel="icon" type="image/x-icon" href="{:image('favicon.ico')}" />
<link rel="Shortcut Icon" type="image/ico" href="{:image('favicon.ico')}" />
{:css('common')}
{:js('jquery.min')}
