<div class="layui-fluid layui-anim febs-anim" id="febs-map-satellite" lay-title="卫星地图">
    <div class="layui-row febs-container">
        <div class="layui-card">
            <div style="padding: .1rem;">
                <div id="container" class="map"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(['jquery', 'febs'], function () {
        var $ = layui.jquery,
            febs = layui.febs,
            $view = $('#febs-map-satellite');

        $view.find('#container').css({"height": document.documentElement.clientHeight - 97 + 'px'});

        var map = new AMap.Map("container", {
            resizeEnable: true,
            zoom: 5, //初始地图级别
            layers: [
                new AMap.TileLayer.Satellite()
            ]
        });

        map.plugin(["AMap.ToolBar", "AMap.Scale"], function() {
            map.addControl(new AMap.ToolBar());
            map.addControl(new AMap.Scale());
        });
    });
</script>